/* Body and structure
-------------------------------------------------- */
body {
  padding-top: 10px !important;
  background: #fff !important;
}

/* Template Classes
-------------------------------------------------- */

.mt_content_wrapper {
}
/* Toolbar */
.mt_content_wrapper > menu.toolbar {
	text-align: right;
}
/* Content Body */
.mt_content_body {
}
.mt_aside {
}
.mt_content {
}
.mt_content .table {
  margin-bottom: 0;
}
.mt_content .table thead {
}

.mt_content .table td,
.mt_content .table th {
  vertical-align: middle;
}
.mt_content .table td:first-child,
.mt_content .table th:first-child {
}
.mt_content .table td p {
  margin: 0;
}
.mt_content .pagination {
  margin: 10px 0;
}

/* Misc
-------------------------------------------------- */
